@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}

#barraTopo {
    top: 0;
    display: flex;
    position: sticky;
    width: 100%;
    height: 120px;
    box-shadow: 0 -5px 15px black;
    background-color: white;
    z-index: 5;
}

#barraTopo>img {
    display: block;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    width: 900px;
    height: 100%;
}

#menu .itemMenu {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.itemMenu::after {
    content: '';
    display: block;
    width: 10%;
    height: 3px;
    background-color: rgb(32, 59, 136);
    transition-duration: 0.5s;
}

.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgb(32, 59, 136);
}

.itemMenu:hover {
    cursor: pointer;
}

.itemMenu:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgb(32, 59, 136);
}

#redes {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#menu a {
    text-decoration: none;
    color: black;
}

#redes>div {
    width: 33%;
}

#redes>div img {
    width: 60px;
    height: 60px;
    transition-duration: 0.1s;
    transform-origin: center;
}

#redes>div img:hover {
    transform: scale(1.3);
    cursor: pointer;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
    margin-top: 20px;
    text-align: center;
    color: gray;
}

footer a{
    color: gray;
}


/*---------------------------GERAL----------------------------------*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
}

.container {
    z-index: 1;
    width: 100%;
    margin-top: 20px;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.pagina {
    display: none;
}

.fadein {
    animation: fadein 0.5s linear;
}

/*----------------------------INÃCIO---------------------------------*/

.container1 {
    display: flex;
    align-items: center;
    padding: 2%;
}

.container1>div {
    margin-left: 40px;
    width: 700px;
}

.container1>img {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(215, 235, 255);
    margin-top: 10px;
    padding: 25px 2% 25px 2%;
}

.container2>img {
    border-radius: 15px;
    margin: 15px;
}

.container3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3em;
    margin-bottom: 3em;
}

.container3>.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 300px;
    height: 350px;
    background: rgb(94, 207, 255);
    background: linear-gradient(340deg, rgba(94, 207, 255, 1) 0%, rgba(108, 181, 255, 1) 55%, rgba(124, 152, 255, 1) 55%, rgba(142, 152, 255, 1) 100%);

    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.28);
    transition-duration: 0.1s;
    transform-origin: center;

    color: white;
}

.container3>.card:hover {
    transform: scale(1.1);
}


.card>input {
    width: 180px;
    height: 40px;
    background-color: rgb(32, 59, 136);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.28);
    color: white;
    border-radius: 25px;
    border: none;
    transition-duration: 0.3s;
    justify-self: flex-end;
}

.card>input:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgb(32, 59, 136);
    cursor: pointer;
}

.card>h1 {
    font-size: 45px;
}

.card p {
    font-size: 20px;
}

/*------------------QUEM SOMOS-------------------*/

.containerQuem {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1.4fr 0.8fr;
    grid-auto-columns: 1fr;
    gap: 0px 20px;
    grid-auto-flow: row;

    padding: 3%;
}

.lado {
    grid-area: 1 / 1 / 2 / 2;
}

.lado, .mei, .grande {
    text-align: justify;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 15px 15px 0 0;
}

.lado_img {
    grid-area: 2 / 1 / 3 / 2;
  
}
.lado_img > img, .meio_img > img, .grande2 > img{
    display: block;
    width: 100%;
    height: 250px;
    border-radius: 0 0 15px 15px;
}

.mei {
    grid-area: 1 / 2 / 2 / 3;
    background: rgb(215, 235, 255) !important;
}

.meio_img {
    grid-area: 2 / 2 / 3 / 3;

}

.grande {
    grid-area: 1 / 3 / 2 / 4;

}

.grande2 {
    grid-area: 2 / 3 / 3 / 4;
}

/*---------------------TRABALHO--------------------*/

.trabalhoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sect {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trabalhoCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 280px;
    background-color: whitesmoke;
    border-radius: 15px;

}

.trabalhoCard:nth-child(2n+0){
    background: rgb(215, 235, 255) !important
}

.trabalhoCard > img {
    width: 100%;
    display: block;
    height: 180px; 
    border-radius: 0 0 15px 15px;
}

.trabalhoCard > div {
    margin: 5px;
}

.cardGrande {
    width: 570px;
}

/*------------------CONTATO-------------------*/

.contatoContainer {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.formulario input[type=text]{
    background-color: whitesmoke;
    border: none;
    border-bottom: 2px solid gray;
    width: 400px;
    height: 40px;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 10px;
}

.formulario input[type=button]{
    background-color: whitesmoke;
    border: none;
    border-bottom: 2px solid gray;
    width: 90px;
    height: 40px;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    transition-duration: 0.1s;
}

.formulario input[type=button]:hover {
    background-color: darkgray;
    color: whitesmoke;
}

.formulario textarea{
    resize: none;
    overflow-y: scroll;
    background-color: whitesmoke;
    border: none;
    border-bottom: 2px solid gray;
    width: 400px;
    height: 200px;
    font-size: 20px;
}

.formulario label{
    font-size: 20px;
}

.obrig{
    color: red;
    display: none;
}
/*------------------SCROLLBAR-------------------*/

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, rgba(166, 166, 166, 1) 0%, rgba(143, 143, 143, 1) 50%, rgba(166, 166, 166, 1) 100%);
}

